html{
    overflow-x: hidden; 
}

video {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: -67%;
    opacity: 0.4;
}
.img {
display: flex;
justify-content: center;
}

.row 
{
    padding-top: 150px;
}


